body{
    font-family: 'Alex Brush', handwriting; 
    width: 100%;
    height: auto;
    margin:0 ;
    padding: 0;
    text-decoration: none;
}
/********************************/
/*navigation********************/
/******************************/
header, 
.navigation-lien,
 .titre-logo,
  .list-navigation{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    background: rgb(230, 224, 224);
    height: auto;
}

.container-nav  {
     display:flex;
     flex-direction: row;
     width:auto ;
 
}

.logo{
    width: 8em;
    height: 8em;
    margin: 2em;
}

.titre-navigation{
    font-size:5em ;
    width:12em ;
  
}

.list-navigation{
    margin-left: 3em;
}



.lien {
    list-style-type: none;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:1.5em;
    color: #000000;
}

.lien:hover{
    transform: scale(1.05);
    border-bottom: 1px solid rgb(172, 172, 245);
    margin:1.5em;
}
.icone-navigation{
    font-size: 1.08em;
    margin: 1em;
}

/********************************/
/***********MAIN****************/
/******************************/

/*section recherche-candle*/
.container-candle-global{
    margin-top: 3em;
    
}
#candle{
    display: flex;
    flex-direction: column;
}
.recherche-candle{
    display:flex;
    flex-direction: column;
 
}

.recherche-titre{
    margin-left:0.5em ;
    font-size:2.5em ;
}

.form-candle{
    display: flex;
    width: 22em;
    height:3em ;
    margin-left: 2em;
    border: 1px solid #f2f2f2;
    border-radius:1em ;
}


.icone-location{
background: rgb(223, 211, 211);
border-radius:0.5em 0 0 0.5em ;
}
#store{
    text-transform: uppercase ;
    text-align: center;
    border: none;
}

#find{
    width:10em ;
    border-radius: 0 0.5em  0.5em 0;
    background: rgb(223, 211, 211);
    color:000000;
    border:none ;
}
#find:hover{
    cursor: pointer;
    transform: scale(1.05);
    background: rgb(155, 154, 154);
}

/*section filtre*/
.filtre{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top:2em

}

.titre-filtre-candle{
    margin:0.5em 1em 1em;
    font-size: 2em;
}


.format-filtre, 
.format{
    display: flex;
    align-items: center;
    width: 60em;
    height:3em ;
    padding:0 ;
}
.icone-filtre{
    height: 3em;
    width:3em ;
    border: 1px solid;
    border-radius:50% ;
} 
.titre-filtre{
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 2em;
}
.format{
    border: 1px solid rgb(218, 194, 194);
    background: rgb(223, 211, 211);
    border-radius:2em ;
    margin-left: 1em;
}
.format:hover{
    transform: scale(1.05);
    background: rgb(149, 148, 148);
    color: aliceblue;
}
/*section info*/
.info{
    display: flex;
    width: 50em;
    align-items: center;
}
.icone-info{
    width:2em ;
    height:2em ;
    border-radius:50% ;
    margin-left: 2em;
}
.para-info {
    margin-left:2em ;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: 000000;
    font-weight: bold;
}

/*container gauche*/
.left-right{
    display: flex;
}
#container-left{
    background:rgba(133, 130, 130, 0.103) ;
    width:70% ;
    height:auto ;
    margin: 2em; 
    border-radius:0.5em ; 
   
}

.titre-left{
    margin: 1em;
    font-size:2em ;
    font-weight: bold;
}

.card-left{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2em;
}
.gourmet-candle{
    background-color:white;
    margin: 4em 4em ;
    border-radius:1em  ;
    box-shadow: 5px 5px 5px #808080;
}
.card{
    width:15em;
    margin:0.4em;
    border-radius: 1.5em;
}
.image-left{
    width:15em ;
    height:10em ;
    border-radius: 1em  1em 0 0;
}
.description{
    font-weight: bold;
    font-size:1em ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0.2em;
}
.para-candle-left{
    text-transform: none;
    font-weight: 100;
    margin:0;
}
.icon{
   margin-top:0.8em;
 
}
.fa-star {
	cursor: pointer;
	padding: 0.0625rem;
    
}
.blue{
    color: rgb(54, 54, 207); 
}
.grey{
    color:rgb(238, 235, 235) ;
}
.para-end{
    margin-left:2em;
    font-size: 1.5em;
    font-weight: bold;
    width: 30em;
}


/*container de droite*/

#container-right{
    background:rgba(133, 130, 130, 0.103) ;
    width:auto ;
    height:auto ;
    margin: 2em;
    border-radius:0.5em;
    display: flex;
    flex-direction: column;
}

.card-right{
    margin: 2em 2em 5em 1em;
    border-radius:1em  ;
    width: 30em;
    margin-top: 1em;
}
.titre-right{
    margin:1em;
    width: 12em;
    font-size:2em ;
    font-weight: bold;

}

.link-right{
    background:rgba(133, 130, 130, 0.103) ;
    width:auto ;
    height:auto ;
    margin: 2em; 
    border-radius:0.5em ; 
  
}
.card-figure{
    display: flex;
    width: auto;
    margin: 0.8em 1em;
    border-radius: 1.5em;
    background-color:white;

}
.image-right{
    width:10em ;
    height:9em ;
    border-radius: 1em  0em 0 1em;
    margin: 0.5em;
}

.description-right {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size:1em ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left:2em ;
    margin-top: 1em;
    width: auto;
    text-transform: uppercase;
}
.para-candle-right{
    text-transform: none;
    font-weight: 100;
    margin:0 ;
}
.icon-right{
    margin-top:4em ;
}
.icon-right-emplacement{
    margin-top:3em 
}


/*container boutique*/

#container-boutique{
    display:flex;
    flex-direction: column;
    height:auto ;
    width: auto;
    margin: 2em; 
    border-radius:0.5em ; 
    background-color:rgb(224, 219, 219) ;
}
.boutique{
    display: flex;
    flex-direction: row;
    margin:0;
    padding:0;
    width: 100%;
}


.titre-boutique{
    margin: 1em;
    font-size: 2em;
    font-weight: bold;
}

/*great card*/
.link-boutique{
    width:22em;
    height:auto ;
    margin: 2em 4em ;
    padding: 1em;
    border-radius:0.5em ; 
}
.card-boutique-one{
    box-shadow:0 0 16px  000000;
    border-radius:1em ;
    margin:1em;
}

.image-boutique-one{
    height:30em;
    width: 20em;
    object-fit: cover;
    margin:0 ;
    padding:0;
    border-radius:1em 1em 0 0;
}


.description-boutique{
    /* padding-top: 1em; */
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: white;
    width: 20em;
    height:2.5em ;
    text-align: center;
    border-radius:0 0 1em 1em
}
/*litle card*/

.link-boutique-column{
    width:22em;
    height:auto ;
    margin: 2em 0.4em -3em ;
    padding: 1em;
    border-radius:0.5em ; 
}
.boutique-column{
    display: flex;
    flex-direction: column;
    height: auto;
}
.card-boutique-column{
    box-shadow:0 0 16px  000000;
    border-radius:1em ;
    margin:1em;
   
}
.image-boutique-column{
    height:12em;
    width: 20em;
    object-fit: cover;
    padding:0;
    border-radius:1em 1em 0 0;
}
.description-boutique-column{
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: white;
    width: 20em;
    height:2.5em ;
    text-align: center;
    border-radius:0 0 1em 1em;
    padding:0 ;
}
figcaption, .description-boutique-column{
    margin: 0;
    padding: 0  ;
}


/********************************/
/***********FOOTER**************/
/******************************/

.footer-global{
    display: flex;
    height: auto;
    background: rgb(230, 224, 224);
    margin: 2em; 
   
}

.footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom:5em ;

}

.content{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left:2em;
    margin-right: 2em;
}
#content-trois{
    width: 10em;
}
.titre-footer{
    text-align: center;
    font-size: 2em;
    margin-left: -2em;
}
.lien-footer
{
 
    list-style-type: none;
    color: 000000;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 5em;
}
.list-footer{
    margin-top: 0.2em;
}
.icone-footer{
    width:1em ;
    height: 1em;
    padding-right: 1em;
}
.reseaux{
    text-decoration: none;
    color: 000000;
}








